body {
    margin: 0;
    background-color: black;
}

#navbar {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0px;
    padding-left: 0;
}


.left {
    display: flex;
    justify-content: start;
    width: 100%;
}


.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    
    
}

.main-logo {
    height: 40px;
    width: 32px;
    margin-top: 5px;
    
}

.center-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position :absolute;
    
}

.sc-home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    border-radius: 45px;
    border-image-source: none;
    border: none;
    height: 35px;
    width:  35px;
}

.sc-icon {
    
    
}

#icon {
    height: 20px;
    width: 20px;

}

.searchbar-box {
    display: flex;
    width: 500px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    padding-left: 7px;
}

.searchbar {
    width: 100%;
    border-radius: 30px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #2b2b2b;
    text-align: center;
    font-size: 16px;
    
    
    
}

.right {
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 40px;
    align-items: center;
    
}


.sign-up {
    display: flex;
    text-decoration-line: none;
}

.sign-up a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}

.sign {
    color: white;
}

.login-btn {
    background-color: #ececec;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 12px;
    font-weight: bold;
}


.leftside {
    background-color: rgb(19, 19, 19);
    height: 50rem;
    width: 15%;
    top: 52px;
    margin-left: 3px;
    border-radius: 8px;
    position: absolute;  
    display: flex;
    justify-content: start;
}

.title-box{
    width: 100%;
    display: block;
    height: 50px;
    
}

.library-title {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 25px;
    color: white;
}

.center-page {
    
    background-color: #2b2b2b;
}
