#navbar {
    background-color: black;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    padding-left: 0;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height:37px;
    width: 37px;
    background-color: rgb(0, 0, 0);
    
    
}

.main-logo {
    height: 70px;
    width: 30px;
}

.center-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sc-home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    border-radius: 45px;
    border-image-source: none;
    border: none;
    height: 37px;
    padding: 7px 7px;
    padding-right: 5px;
}

.sc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
}

.searchbar-box {
    display: flex;
    width: 500px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    padding-left: 7px;
}

#searchbar {
    width: 100%;
    border-radius: 30px;
    
}

